# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.lastbuildstate
Debug/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.write.1u.tlog
Debug/ActiveOb.3BCB4C73.tlog/cl.command.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/CL.read.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/CL.write.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/link.command.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/link.read.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/link.write.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/rc.command.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/rc.read.1.tlog
Debug/ActiveOb.3BCB4C73.tlog/rc.write.1.tlog
Debug/Ext.res
Debug/Template.exp
Debug/Template.log
Debug/Template.pdb
Debug/vc120.idb
Debug/vc120.pdb
ReleaseEditor/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.lastbuildstate
ReleaseEditor/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.write.1u.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/cl.command.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/CL.read.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/CL.write.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/link.command.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/link.read.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/link.write.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/rc.command.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/rc.read.1.tlog
ReleaseEditor/ActiveOb.3BCB4C73.tlog/rc.write.1.tlog
ReleaseEditor/ActiveObjectExporter.Build.CppClean.log
ReleaseEditor/Ext.res
ReleaseEditor/Template.exp
ReleaseEditor/Template.log
ReleaseEditor/vc120.idb
ReleaseEditor/vc120.pdb
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.lastbuildstate
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/ActiveObjectExporter.write.1u.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/cl.command.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/CL.read.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/CL.write.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/link.command.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/link.read.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/link.write.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/rc.command.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/rc.read.1.tlog
ReleaseRuntime/ActiveOb.3BCB4C73.tlog/rc.write.1.tlog
ReleaseRuntime/ActiveObjectExporter.Build.CppClean.log
ReleaseRuntime/Ext.res
ReleaseRuntime/Template.exp
ReleaseRuntime/Template.log
ReleaseRuntime/vc120.idb
ReleaseRuntime/vc120.pdb
Template.v12.suo
Template.vcxproj.user
Template.sdf
Template.vcxproj.user
Template.v12.suo
Template.v12.suo
Template.vcxproj.user
